body{
  margin:80px;
}
.h1title{
   color:green; text-decoration:none;
}
.li1{
    color:red;
}
h1{
  border-bottom:2px solid green; padding:40px; margin:0;
}
#grid ol{
  border-right:2px solid green;
  width:150px; margin:0; padding:15px; padding-left: 25px;
}
#grid{
  display:grid;
  grid-template-columns: 230px 1fr;
}
a{
  color:black;
  text-decoration: none;
}
@media(max-width:800px){
  #grid{
    display:block;
}
#grid ol{
  border-right:none;
}
h1{
  border-bottom:none;
}
